<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login form</h1>
   
        <form action = "" method = "POST">
            {%csrf_token %}
           
            <span>{{login_form.email.label}}</span>
            <p>{{login_form.email}}</p>
            <span>{{login_form.password.label}}</span>
            <p>{{login_form.password}}</p>


            {% if login_form.non_field_errors %}
                {% for err in login_form.non_field_errors %}
                <p style="color:red">{{err}}</p>
                {%endfor%}
            {%endif%}


            <button type ="submit">Login</button>
        </form>
        
    
</body>
</html>