{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration form</h1>
    <div>
        <form action = "" method = "POST">
            {%csrf_token %}
            <span>{{register_form.email.label}}</span>
            <p>{{register_form.email}}</p>
            <span>{{register_form.company_name.label}}</span>
            <p>{{register_form.company_name}}</p>
            <span>{{register_form.phone.label}}</span>
            <p>{{register_form.phone}}</p>
            <span>{{register_form.password1.label}}</span>
            <p>{{register_form.password1}}</p>
            <span>{{register_form.password2.label}}</span>
            <p>{{register_form.password2}}</p>

            {%for error in register_form.errors %}
            <p style="color:red">{{error}}</p>
            {%endfor%}
            <button type ="submit">Create Account</button>
        </form>
        
    </div>
</body>
</html>